.notificacoes__notificacao{
    background-color: var(--cinza3);
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 700px;
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.notificacoes__notificacao.false{
    background-color: var(--cor3);
}

.notificacoes__notificacao.false > .fi{
    color: var(--cor1);
    background-color: var(--cor5);
}

.notificacoes__notificacao.false > .notificacao__conteudo > h1{
    color: var(--cor5);
}

.notificacoes__notificacao > .fi{
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 10px;
    font-size: 20px;
    border-radius: 40px;
    margin-right: 10px;
}

.notificacao__conteudo > h1{
    color: var(--cor1);
    font-family: var(--poppins);
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 24px;
}

.notificacao__conteudo > h3{
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 20px;
}

.notificacao__conteudo > h6{
    font-weight: 300;
    font-size: 18px;
}

.notificacao__conteudo > strong{
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: var(--cinza5);
    color: var(--cor5);
    font-weight: 500;
    font-size: 13px;
    padding: 2px 4px;
    border-radius: 16px;
}

@media (max-width: 700px) {
    .notificacao__conteudo > h1{
        font-size: 16px;
    }
    
    .notificacao__conteudo > h3{
        font-size: 14px;
    }
    
    .notificacao__conteudo > h6{
        font-size: 12px;
    }
    
    .notificacao__conteudo > strong{
        font-size: 10px;
    }
}